.contact {
  display: flex;
  justify-content: center;
  height: 40vh;

  .contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1500px;
    .contact-logo {
      height: 250px;
      //width: 400px;
      position: relative;
      #mdk {
        position: absolute;
        width: 120px;
        height: 120px;
        left: 10px;
        top: 10px;
        transition: 0.5s height ease-in-out, 0.5s width ease-in-out;
        cursor: pointer;
        &:hover {
          left: 0px;
          top: 10px;
          width: 400px;
          height: 240px;
          background: #28235d;
        }
      }
      img {
        height: 250px;
        width: 400px;
      }
    }

    .contact-main {
      height: 250px;
      //width: 400px;
      .main-info {
        display: flex;
        flex-direction: column;
        height: 90%;
        justify-content: space-around;
        .single-info {
          display: flex;
          justify-content: flex-start;
          .icon {
            width: 50px;
          }
          p {
            line-height: 28px;
            a {
              color: $mainColor;
            }
          }
        }
      }
    }
    .contact-mape {
      height: 250px;
      //width: 400px;
    }
  }
}
